.aboutbox{
    position: absolute;
    align-items: center;
    top: 10vw;
    left: 45vw;
}

.textabout{
    position: relative;
    left: -20vw;
}

.contacttext{
    font-size: 20px;
    font-weight: bold;
}